.Projects{
    padding: 2.5%;
   
   
}

.Projectsheadings{
    display: flex;
}

.name2{
    font-size: 25px;
    color:#b0b3b8;
    margin-bottom: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.v1 {
    padding-right: 20px;
    margin-top: 15px;
    border-left: 6px solid orange;
    height: 30px;
  }

  .subgraph{
    margin-top: 4%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.747);
}

@media all and (max-width: 800px){

   .subgraph {
    
    padding: 0%;
    margin-right: 3%;
    margin-top: 4%;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.747);
  }
} 

