.main_intro {
    display: flex;
    flex-wrap: nowrap;
}

.ProfileImage {
    flex: 1 0 600px;

}

.name {
    font-size: 45px;
    margin-bottom: auto;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.subgraph1 {
    font-size: 24px;
    font-family: 'Merriweather, Georgia, serif';
}

@media all and (max-width: 900px) {

    .subgraph1{
        font-size: 15px;
        padding: 0%;
        margin-right: 3%;

    }
    .main_intro {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    .name {
        display: none;
    }
}