.main_intro {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 100%;
}


.main_intro.show {
    opacity: 1;
}

.ProfileImage {
    flex: 1 0 600px;

}

.name {
    font-size: 45px;
    margin-bottom: auto;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.name_mobile {
    font-size: 36px;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}


.subgraph1 {
    font-size: 24px;
    font-family: 'Merriweather, Georgia, serif';
}

@media all and (max-width: 900px) {

    .subgraph1 {
        font-size: 15px;
        padding-left: 2%;
        font-family: 'Segoe UI', sans-serif;
    }

    .main_intro {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 100%;

    }

    .name {
        display: none;
    }

    .name_mobile {
        font-size: 38px;
        margin-bottom: auto;
        margin-top: auto;
        font-family: 'Segoe UI Bold', sans-serif;
    }
}