.Intro{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.Intro1{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.Intro1 >div{
    flex:1
}
.Introduction{
    padding-top: 5%;
    padding-left: 5%;
}
.ProfileImage{
    flex: 1 0 600px;
   
}
.name{
    font-size: 45px;
    margin-bottom: auto;
    font-weight: bold;
    color:#b0b3b8;
    font-family: 'Courier New', Courier, monospace;
}
.subname{
    margin-top: 2%;
    font-size: 25px;
    color: #242526;
    font-family: 'Times New Roman', Times, serif;
}

.subgraph1{
    
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.747);
}
.rainbow{
    color:orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.projects{
    display: flex;
    justify-content: space-around;
}

.button{
    border: 2px solid orange;
    margin-right: 5%;
    padding-bottom: 5%;
    font-size: large;
    background: transparent;
    color: white;
}


@media all and (max-width: 900px){
    .ProfileImage{
        display: none;
    }
}
@media all and (max-width: 800px){
    .subgraph1{
        font-size: 18px;
    }
    .name{
        text-align: center;
    }
}

