.Blogs{
    padding: 2.5%; 
}

.name2{
    font-size: 25px;
    margin-bottom: 5%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blogPieces{
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
}
.blogPieces > div > img{
    width:300px;
    height:171px;
}
.blog1, .blog2, .blog3, .blog4,.blog5 {    
    margin:2% 2% 0% 0%;
    
}
.blog_headings{
    color:orange;
}
a{
    color:transparent
}

@media all and (max-width: 700px){
    .blogPieces{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .name2{
        text-align: center;
    }
}
