.Events{
    padding: 2.5%; 
}

.Eventsheadings{
    display: flex;
}

.name2{
    font-size: 25px;
    padding-bottom: 15px;
    color:#b0b3b8;
    margin-bottom: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.eventPieces{
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
}
.eventPieces > div > img{
    width:300px;
    height:171px;
}
.event1, .event2, .event3, .event4,.event5 {    
    margin:2% 2% 0% 0%;
    
}
.event_headings{
    color:orange;
}
a{
    color:transparent
}

@media all and (max-width: 700px){
    .eventPieces{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .name2{
        text-align: center;
    }
}
