.rainbow {
  color: black;
  padding: 0% 2% 0.5% 0%;
  background-color: orange;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.highlight_dark {
  background: #D33668;
  color: #ffffff;
}

.highlight_light {
  background: #FFA7C3;
  color: #000000;
}