.Blogs{
    padding: 2.5%; 
}

.name2{
    font-size: 25px;
    margin-bottom: 5%;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Blogsheadings{
    display: flex;
}

.name2{
    font-size: 25px;
    color:#b0b3b8;
    margin-bottom: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blogPieces{
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left; 
}

.blogPieces > div > a >img{
    margin-right: 5% !important;
    width:300px;
    height:171px;
}

.blog_headings{
    color:orange;
    
}
.para_blogs{
    padding-left: 2%;
}
a{
    color:transparent
}

@media all and (max-width: 700px){
    .blogPieces{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .name2{
        text-align: center;
    }
}
