 .about_me_container {
   width: 60%;
   display: flex;
   flex-direction: column;
 }

 .line_general_light.intro {
   height: 3.5px;
   margin: 0;
   width: 18%;
   border: none;
   background-color: #D33668;
 }

 .line_general_dark.intro {
   height: 3.5px;
   margin: 0;
   width: 18%;
   border: none;
   background-color: #D33668;
 }

 .line_general_light.skills {
   height: 3.5px;
   margin: 0;
   width: 10%;
   border: none;
   background-color: #D33668;
 }

 .line_general_dark.skills {
   height: 3.5px;
   margin: 0;
   width: 10%;
   border: none;
   background-color: #D33668;
 }

 .line_general_light.achievements {
   height: 3.5px;
   margin: 0;
   width: 15%;
   border: none;
   background-color: #D33668;
 }

 .line_general_dark.achievements {
   height: 3.5px;
   margin: 0;
   width: 15%;
   border: none;
   background-color: #D33668;
 }

 .line_general_light.blogs {
   height: 3.5px;
   margin: 0;
   width: 7%;
   border: none;
   background-color: #D33668;
 }

 .line_general_dark.projects {
   height: 3.5px;
   margin: 0;
   width: 10%;
   border: none;
   background-color: #D33668;
 }

 .line_general_light.projects {
   height: 3.5px;
   margin: 0;
   width: 9%;
   border: none;
   background-color: #D33668;
 }

 .line_general_dark.blogs {
   height: 3.5px;
   margin: 0;
   width: 9%;
   border: none;
   background-color: #D33668;
 }



 .about_me_heading_dark {
   margin: 15px 0 2.5px 0;
   color: #000000;
   font-family: Montserrat, sans-serif;
   font-weight: 900;
 }

 .about_me_heading_light {
   color: #ffffff;
   margin: 15px 0 2.5px 0;
   font-family: Montserrat, sans-serif;
   font-weight: 900
 }



 .about_me_content_dark {
   color: #000000;
   font-family: Merriweather, Georgia, serif;
   font-size: 16;
   font-weight: 40
 }

 .about_me_content_light {
   color: #ffffff;
   font-family: Merriweather, Georgia, serif;
   font-size: 16;
   font-weight: 40;
 }

 @media all and (max-width: 900px) {
   .about_me_container {
     width: 98%;
     padding-top: 4%;
     padding-left: 1.8%;
     display: flex;
     flex-direction: column;
   }

   .about_me_heading_dark {
     color: #000000;
     font-family: Montserrat, sans-serif;
     font-size: 22px;
     font-weight: 900;
   }

   .about_me_heading_light {
     color: #ffffff;
     font-family: Montserrat, sans-serif;
     font-size: 22px;
     font-weight: 900
   }

   .about_me_content_dark {
     color: #000000;
     font-family: 'Segoe UI', sans-serif;
     font-size: 15px;
   }

   .about_me_content_light {
     color: #ffffff;
     font-family: 'Segoe UI', sans-serif;
     font-size: 15px;
   }

   .line_general_dark.intro {
     height: 5.5px;
     margin: 0;
     width: 100px;
     border: none;
     background-color: #D33668;
   }

   .line_general_light.intro {
     height: 5.5px;
     margin: 0;
     width: 100px;
     border: none;
     background-color: #D33668;
   }

   .line_general_light.achievements {
     height: 5px;
     margin: 0;
     width: 150px;
     border: none;
     background-color: #D33668;
   }

   .line_general_dark.achievements {
     height: 5px;
     margin: 0;
     width: 150px;
     border: none;
     background-color: #D33668;
   }

   .line_general_light.blogs {
     height: 5px;
     margin: 0;
     width: 60px;
     border: none;
     background-color: #D33668;
   }

   .line_general_dark.blogs {
     height: 5px;
     margin: 0;
     width: 60px;
     border: none;
     background-color: #D33668;
   }

   .line_general_light.projects {
     height: 5px;
     margin: 0;
     width: 85px;
     border: none;
     background-color: #D33668;
   }

   .line_general_dark.projects {
     height: 5px;
     margin: 0;
     width: 85px;
     border: none;
     background-color: #D33668;
   }

   .section_heading {
     align-self: center;
   }
   .line_general_light.skills {
    height: 3.5px;
    margin: 0;
    width: 60px;
    border: none;
    background-color: #D33668;
  }
 
  .line_general_dark.skills {
    height: 3.5px;
    margin: 0;
    width: 60px;
    border: none;
    background-color: #D33668;
  }
 }