.block_background_dark {
    background-color: #FDFAE0
}

.block_background_light {
    background-color: #363D48
}


.name2 {
    font-size: 25px;
    color: #b0b3b8;
    margin-bottom: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.achievements_content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

.achievements_content>div>img {
    width: 200px;
    height: 356px;
}

.blog1 {
    display: flex;
    padding: 5%;
    margin-bottom: 1.5%;
    flex-wrap: nowrap;
    box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
}

a {
    color: transparent
}


@media all and (max-width: 900px) {
    .achievements_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog1 {
        display: flex;
        padding: 2%;
        flex-wrap: wrap;
        background: #363D48;
        box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);

    }

    .sub_style {
        font-size: 12px;
    }
}