.Youtube{
    padding: 2.5%;
    
}
.Youtubesheadings{
    display: flex; 
}

.name2{
    font-size: 25px;
    color:#b0b3b8;
    margin-bottom: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.v1 {
    padding-right: 20px;
    margin-top: 15px;
    border-left: 6px solid #FFFFFF;
    height: 30px;
  }
.youtubePieces{
    display: flex;
    flex-wrap: wrap;
    justify-content: left; 
}
.youtubePieces > div > a >img{
    width:300px;
    height:171px;
}
.blog1, .blog2, .blog3, .blog4,.blog5 {    
    margin:2% 2% 0% 0%;
    
}
.achievement_headings{
    color:orange;
}
a{
    color:transparent
}

@media all and (max-width: 800px){
    .youtubePieces{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

}