.app_container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.app_container > div{
  flex:1
}
.container{
  margin:auto;
}
 .AboutMe {
  background: #1D2532;
  color:white;
  align-content: center;
}

.app_container >.Intro {
  flex:4;
  
  background: #11161E;
  color:white;
} 

@media all and (max-width: 800px){
  /* .profile_picture,.heading,.intropara{
     display: none;
  } */

  .app_container {
    flex-direction: column;
  }
}

