.app_container {
  display: flex;
  height:100vh
}

.app_container>div {
  flex: 1
}

.app_container>.main_component {
  flex: 4;
}

@media all and (max-width: 800px) {
  .app_container {
    flex-direction: column;
  }
}