.Achievements{
    padding: 2.5%; 
}
.Achievementsheadings{
    display: flex;
    flex-direction: row;
}

.name2{
    font-size: 25px;
    color:#b0b3b8;
    margin-bottom: auto;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.achievementsPieces{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left; 
}
.achievementsPieces > div > img{
    width:200px;
    height:356px;
}
.blog1, .blog2, .blog3{    
    display: flex;
    padding: 2%;
    flex-wrap: nowrap;
    background: #363D48;
    box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2);
    
}
img{
    padding-right: 2%;
}
.achievement_headings{
    color:orange;
}
a{
    color:transparent
}

@media all and (max-width: 800px){
    .achievementsPieces{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
    .blog1, .blog2, .blog3{    
        display: flex;
        padding: 2%;
        flex-wrap: wrap;
        background: #363D48;
        box-shadow: 0 4px 8px 8px rgba(0,0,0,0.2);
        
    }

}