.name_bold {
  font-weight: bolder;
  font-size: large;
  color: rgb(255, 255, 255);
}

.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.line_light {
  height: 1px;
  margin: 15% 0% 15% 0%;
  width: 75%;
  border: none;
  background-color: #FFA7C3;
}

.line_dark {
  height: 1px;
  margin: 15% 0% 15% 0%;
  width: 75%;
  border: none;
  background-color: #D33668;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: '14px';
}

.heading_hidden {
  display: none;
}

.image1 {
  flex: 0;
  padding-top: 6%;
  padding-right: 2%;
}

.each_icon {
  width: 20px;
  height: 20px;
}

.toggle_button {
 padding-bottom: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFA7C3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #D33668;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sidebar_component {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.sidebar_items{
  width: 100%;
}

.sidebar_position {
  display: flex;
  width: 240px;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.profile_picture {
  height: 150px;
  width: 150px;
  padding: 50px 0px 50px 0px;
  border-radius: 50%;
}

.sidebar_background_dark {
  border-right: 1px solid grey;
}

.sidebar_background_light {
  border-right: 1px solid white;
}



@media all and (max-width: 800px) {

  .profile_picture {
    width: 120px;
    height: 120px;
    padding: 30px 0px 30px 0px;
    border-radius: 50%;
  }

  .heading,
  .image1 {
    display: none;
  }

  .slider {
    height: 20px;
    width: 50px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 12px;
  }

  .heading_hidden {
    margin-top: 0px;
    margin-bottom: 7%;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    display: block;
  }

  .intropara {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(223, 223, 223);
    font-size: 105%;
  }

  .intropara2 {
    display: none;
  }

  .each_icon {
    width: 20px;
    height: 20px;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
  }

  .line_light {
    height: 0.5px;
    margin: 7.5% 0% 7.5% 0%;
    width: 55%;
    border: none;
    background-color: #FFA7C3;
  }

  .line_dark {
    height: 0.5px;
    margin-top: 10%;
    margin: 7.5% 0% 7.5% 0%;
    width: 55%;
    border: none;
    background-color: #D33668;
  }

  .sidebar_position {
    position: relative;
    width: 100%;
  }
  .toggle_button {
    display: none;
   }
}